@model CityDTO

<div class="row">
    <div class="col-12 col-md-8">
        <form method="post">
            <label class="form-label" for="Name">City Name</label>
            <input type="text" name="Name" class="form-control" value=@Model.Name />
            <button class="btn btn-success mt-3" type="submit">Update</button>
        </form>
    </div>
</div>